{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="juggling-balls.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        OH NO!
      </h1>

      <p>Sorry you can't juggle therefore cannot have a licence :(</p>

      <p>Feel free to apply again after some lessons by <a href="start.html">clicking here</a>.</p>

    </div>
  </div>

{% endblock %}
